body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ecf0f1;
}

.transform-block {
    width: 150px;
    height: 150px;
    background-color: #3498db;
    transition: transform 0.3s ease-in-out;
    transform-origin: 0% 0%; /* Transform origin set to the top-left corner */
}

.transform-block:active {
    transform: translate(-50px, -50px) scale(1.5) rotate(30deg) skew(10deg, 5deg);
}